<%= render "navbar" %>
<div class="container">
<div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= @list.name %>
  </div>
  <% bookmarks = @list.bookmarks %>
  <div class="cards">
    <% bookmarks.each do |bm| %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= bm.movie.title %></h2>
            <p><%= bm.comment %></p>
          </div>
          <h2 class="card-trip-pricing"><%= link_to 'ðŸ—‘ï¸', bookmark_path(bm), method: :delete, class: "text-decoration-none" %></h2>
        </div>
      </div>
    <% end %>
  <ul class="list-unstyled m-2">
    <li><%= link_to 'Rename this list' , edit_list_path(@list), class: "btn btn-primary m-3" %></li>
    <li><%= link_to 'Add movie' , new_list_bookmark_path(@list), class: "btn btn-success m-3" %></li>
    <li><%= link_to 'Delete this list' , list_path(@list), class: "btn btn-danger m-3", method: 'delete' %></li>
  </ul>
</div>





